* {
    margin: 0;
}

html {
    text-align: center;
    background-color: #ebd3c1;
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: purple;
    color:#ebd3c1;
    line-height: 100px;
    margin-bottom: 50px;;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #000;
}

input[type="checkbox"]{
    margin: 20px;
}

::placeholder {
    color: grey;
    opacity: 1;
}



.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;

  }

footer {
    margin-top: 100px;
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    bottom: 0;
  }

  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }

  .todo-form{
    margin: 20px 0 0 0;
  }
